{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
All news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости ({{ category_post_list | length }})</h1>
    <h3>{% current_time '%d %b %Y' %}</h3>
    {% if is_not_subscriber %}
        <p><a href="{% url 'subscribe' category.id %}">Подписаться на категорию</a></p>
    {% endif %}
    <div align="center"><a href="search">Поиск</a></div>


   <!-- Выводим новости, только если они есть с помощью тега if -->
   {% if category_post_list %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью</td>
               <td>Категории</td>
           </tr>

           <!-- Для каждой новости будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           news — переменная цикла, т.е. наш товар полученный из списка -->
           {% for news in category_post_list %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td><a href="{{ news.id }}">{{ news.title|censor }}</a></td>
               <td>{{ news.date_time_in | date:'d M Y' }}</td>
               <td>{{ news.text | truncatechars:20 }}</td>
               <td>
                   {% for category in news.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category.name }}</a>
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <!-- Если новостей нет, говорим, что новостей нет ;) -->
       <h2>Новостей нет!</h2>
   {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}